@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
	display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
  font-size: inherit;
}

.main {
	color: #8C78E8;
	font-family: "Fira Code", monospace;
	background-color: #110934;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
}
